{% extends "layout.html" %}
    {% block content %}
        {% if current_user.is_authenticated %}
            {% if current_user.username ==  'Admin' %}
                <h1>Please go to <a href="{{ url_for('dashboard') }}">dashboard</a> to check votes</h1>
            {% else %}
                <h1>Please go to the <a href="{{ url_for('dashboard') }}">dashboard</a> to cast your vote if you haven't already</h1>
            {% endif %}
        {% else %}
            <h1>Please Login or Register to vote.</h1>
        {% endif %}
    {% endblock content %}
